In [4]:
print(100,200,"Python")

100 200 Python

In [ ]:
Data types :
    1. int 10
    2. float  15.5555
    3. str "Python" 'java' """Hello python """ "my salary is 8000000000"
    4. list [10,20,30,"Python","Java"] : mutable
    5. tuple (10,20,30,"Python","Java") : immutable
    6. dict {"name":"abc","email":"abc@xyz.com"} {"key":"value"}
    7. set {10,20,30,40,"Python","Java"}
    8. bool True,False 
    9. None

In [6]:
num1 = 100
num2 = 200
num3 = num1 + num2
print(num3)

300

In [7]:
num1 = 100
print(type(num1))

<class 'int'>

In [8]:
s = "Pythn is easy to learn"
print(type(s))

<class 'str'>

In [9]:
record = {"name":"abc","email":"abc@xyz.com"}
print(type(record))

<class 'dict'>

In [11]:
num1 = 100
print(type(num1))

num1 = "Python"
print(type(num1))

<class 'int'>
<class 'str'>

In [ ]:
var_name = assign_value

In [ ]:
name = "abc"

a = "abc"

In [15]:
first_name = "ABC"
print(first_name)

IP_ADDRESS = "127.0.0.1"

ABC

In [ ]:
firstName

In [ ]:
Rules for defining var:
    1. Var name can not start with a digit 
    2. only _ is allowed in terms of special char 
    3. Underscore casing : first_name do not write firstName  
    4. Provide meaningful names to var

In [2]:
num1 = 100
print(num1,id(num1))
# print(id(num1))

num1 = 500
print(num1)
print(id(num1))

100 1776908448
500
2197419837296

In [ ]:

500 num1

In [ ]:
mutable and immutable

In [ ]:
int

In [ ]:
100 : 8448

In [ ]:
mutable : change the value at same mem location : list ,dict,set : methods to perform add,update and delete
immutable : can not change the value at same mem location int,float,str,tuple

In [4]:
l = [10,20,30,40]
print(id(l))
l.append(50)
print(l)
print(id(l))

2197420012360
[10, 20, 30, 40, 50]
2197420012360

In [5]:
s = "Python"
print(id(s))
s = "java"
print(id(s))

2197380338608
2197380255672

In [ ]:
"Python" 
"Java" 672 s

In [12]:
num1 = 257
num2 = 257
print(id(num1),id(num2))

2197419837264 2197419835984

In [ ]:
100 num1,num2

In [ ]:
Object intering 
int 0 - 256

In [13]:
num1 = num2 = 500
print(num1,num2)

500 500

In [14]:
num1,num2 = 100,200
print(num1,num2)

100 200

In [43]:
num1 = 100
num2 = 100
print(id(num1),id(num2))
num1,num2 = num2,num1
print(num1,num2)
print(id(num1),id(num2))

1776908448 1776908448
100 100
1776908448 1776908448

In [ ]:
10 : 5568
20 : 5888

In [ ]:
10              20
num2            num1

num1 = num2

In [42]:
num1 = 10000
print(id(num1))

2197419838416