In [1]:
# 1)Python is dynamically typed:
    
variable = 23

variable = "python"

In [2]:
# 2) Python is interpretted , what does it mean?

In [6]:
# how to take an input?

x = input()

print("initially the data type is",type(x))

x = int(x)  # typcasting

print("finally the data type is",type(x))

# print(x,"and it's type = ",type(x))

34
initially the data type is <class 'str'>
finally the data type is <class 'int'>

In [10]:
# Q) Take an int from the user and test if it is even number?

x = int(input())

if x%2==0:
    print("yes it is even")
else:
    print("no it is not even")

22
yes it is even

In [11]:
# Membership Operators:in ,not in

In [15]:
list1 = [1,2,3,4,5]

print(4 in list1)

True

In [17]:
dict1 = {"python":3,"django":2}

print(3 in dict1)

False

In [18]:
print(7 in 100) # what will happen??

TypeError: argument of type 'int' is not iterable

In [19]:
print("s" in "small")

True

In [20]:
# Iterables: str,list,tuple,set,dict

#not Iterables: int,float,bool

In [ ]:
#Identitiy Operaors: is,is not

In [22]:
[1,2] is [1,2]

False

In [24]:
a = [1,2]
b = [1,2]

id(a)==id(b)

False

In [27]:
# break,continue,pass

for val in "magic":
    if val=="i":
        pass
    print(val)

m
a
g
i
c

## Nested Loops

## Q4) Print multiplication table of 5

### Pseudocode:
    1)loop from 1 to 10
    2)for each item, print * of 5 with it.

In [35]:
for i in range(1,11):
    print(5*i,end=" ")
print("\n")
for i in range(1,11):
    print(6*i,end=" ")

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

In [40]:
for value1 in [5,6,7,22]:
    for i in range(1,11):
        print(value1*i,end=" ")
    print("\n")

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

22 44 66 88 110 132 154 176 198 220

In [42]:
for value1 in range(5):
    for value2 in range(100,105):
        print(value1,value2)
    print("---")

0 100
0 101
0 102
0 103
0 104
---
1 100
1 101
1 102
1 103
1 104
---
2 100
2 101
2 102
2 103
2 104
---
3 100
3 101
3 102
3 103
3 104
---
4 100
4 101
4 102
4 103
4 104
---

In [44]:
print(10,20,end = " ",sep="-")

10-20

## Q5) Write a program to create the following triangle


# * 

# * * 

# * * * 

# * * * *

### Intuition: See that * is increasing by 1 in each line, loop can give us that functionality

### Pseudocode:
    1)Outer loop run till number of lines in * pattern:
    2)Inner loop run till line number

In [49]:
for i in range(1,5):
    for j in range(i):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

## while loop

In [50]:
# while condition:=>True/False
#     statements

In [53]:
num = 5

while num>1:
    print(num)
    num = num - 1

print("num after exiting the loop",num)

5
4
3
2
num after exiting the loop 1

In [54]:
# for - else?

## while - else

In [66]:
count = 1
max_count = 14

while count <= max_count:
    print(count,end=" ")
    count = count+1
    break
else:
    print("this got printed")
print(count)

1 2

## while-else, for-else

In [67]:
## Convert it into a loop based program,(this is an program from conditional statements session)

amount = 5560
note_count = 0
if amount >= 2000:
    print("Notes of 2000 are", amount // 2000)
    note_count+=amount // 2000
    amount = amount % 2000
else:
    print("Can not issue notes of 2000")

if amount >= 500:
    print("Notes of 500 are", amount // 500)
    note_count+=amount // 500
    amount = amount % 500
else:
    print("Can not issue notes of 500")
    
if amount >= 100:
    print("Notes of 100 are", amount // 100)
    note_count+=amount // 100
    amount = amount % 100
else:
    print("Can not issue notes of 100")
    
if amount >= 50:
    print("Notes of 50 are", amount // 50)
    note_count+=amount // 50
    amount = amount % 50
else:
    print("Can not issue notes of 50")
    

if amount >= 10:
    print("Notes of 10 are", amount // 10)
    note_count+=amount // 10
    amount = amount % 10
else:
    print("Can not issue notes of 10")

print("Total no of notes are ",note_count)

Notes of 2000 are 2
Notes of 500 are 3
Can not issue notes of 100
Notes of 50 are 1
Notes of 10 are 1
Total no of notes are  7

In [ ]:
## Above Program is a Homework, we will discuss it in Teams.