In [1]:
# Homework: Make a program to find the largest number from few numbers given like 
#     [465,4,46,427,42]

In [2]:
## Revision

# REgx:sequence of chars that defines a pattern
    
#     Metachars:
#         . all the possible chars except \n 
#         [] ??character class
#         [a-z] a to z
#         [A-Z]
#         [0-9]
        
#         [0-9]{3}??
#         ^  ?? start  ??
#         $ ??

In [3]:
# import re

# re.search("[^0-9]","374859734thujksdfjkl")

In [5]:
# Module? .py files?
# Package? collection of .py files

# Iterables??

# list,string,dict,set

In [12]:
# dict1 = {"python":3,"java":8,"django":2}

# for i in dict1.items():
#     print(i)

('python', 3)
('java', 8)
('django', 2)

In [13]:
# Q Write a list comprehension which will will generate 5 random numbers from 10-50

import random

l2 = []

for i in range(5):
    x = random.randint(10,51)
    l2.append(x)
    
print(l2)

[50, 48, 22, 42, 35]

In [14]:
[random.randint(10,51) for i in range(5)]

[14, 37, 46, 50, 29]

In [15]:
# Note: 1)Every list comprehension can be converted to for loops? True
#       2)Every loop can be converted to a list comprehensioon? False

In [23]:
# Why should we use list compre??
import timeit

t = timeit.timeit(stmt=
"""
import random
l2 = []
for i in range(500000):
    x = random.randint(10,51)
    l2.append(x)"""

,
number=10)
print(t)

6.230048437000278

In [24]:
t = timeit.timeit(stmt="""
import random
[random.randint(10,51) for i in range(500000)]
 """,number=10)
print(t)

5.942087917999743

In [25]:
# list comprehensions are faster

In [26]:
# map

In [32]:
# map(function,iterables)

def sqr(num1):
    return num1*num1

l = [10,20,30,40,50]

m = map(sqr,l)

print(type(m),m)

list(m)

<class 'map'> <map object at 0x10b8bfad0>

[100, 400, 900, 1600, 2500]

In [33]:
l3 = []
for i in l:
    l3.append(sqr(i))
    
print(l3)

[100, 400, 900, 1600, 2500]

In [38]:
# Practice Assessment problem? map?? map(int,input.split())

# eval
t = eval(input())
# evaluate it to something to which python understands
print(type(t))

# print(t[0])

{"python":3,"django":2}
<class 'dict'>

In [39]:
t

{'python': 3, 'django': 2}

In [40]:
l = ["sjfd","487935","python","java"]

m = map(len,l)

list(m)

[4, 6, 6, 4]

In [42]:
def add(v1,v2,v3):
    return v1+v2+v3

l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [1,2,4,5]

test_list = list(map(add,l1,l2,l3))

print(test_list)

[7, 10, 14, 17]

In [56]:
x = list(map(eval,input().split(" ")))

[1,2,3] {4,5,6}

In [58]:
type(x[0])

list

In [45]:
l4 = []
for i in x:
    l4.append(int(i))

In [46]:
l4

[23, 34, 45]

In [59]:
# eval("2**3")

8

In [62]:
## Q1 Use map to convert these tuples into a list like ['python 3', 'djnago 2', 'java 8']
tuple1 = ('python', 'djnago', 'java')
tuple2 = (' 3', ' 2', ' 8')

print("python"+" 3")

def plus(v1,v2):
    return v1+v2

s1 = list(map(plus,tuple1,tuple2))
print(s1)

python 3
['python 3', 'djnago 2', 'java 8']

## filter

In [66]:
def even(num1):
    if num1%2==0:
        return True  ## bool(?)=> True?  1,"23","MOhit",234,234,435,
    else:
        return False  ## bool(?)=> False? [],{},0,None
    
l = [10,20,3,7,8,9,24]

f = filter(even,l)

# print(f)

print(list(f))

[10, 20, 8, 24]

In [67]:
# filter(function,iterable/sequence)

In [70]:
## Q2 Write a function and use filter to filter those numbers which are divisible by 3 and 5

def divisible_of_3_5(num1):
    if num1%3==0 and num1%5==0:
        return True
    else:
        return False 
    
l = [10,20,15,30,90,3,7,8,9,24]

f = filter(divisible_of_3_5,l)
print(list(f))

[15, 30, 90]

## What if function is None?

In [72]:
f = filter(None,range(0,101))

print(list(f))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [73]:
test_list = ["Naveen",True,False,0,1,"Adarsh Mallick",None,[],{},{"Python":3},[12,34]]

f = filter(None,test_list)

print(list(f))

## the function defaults to Identity Function

['Naveen', True, 1, 'Adarsh Mallick', {'Python': 3}, [12, 34]]

In [75]:
def identity(value):
    return value

f = filter(identity,test_list)
print(list(f))

['Naveen', True, 1, 'Adarsh Mallick', {'Python': 3}, [12, 34]]

In [76]:
# all()
# any()
# bin()

In [77]:
test_list = ["Naveen",True,False,0,1,"Adarsh Mallick",None,[],{},{"Python":3},[12,34]]

all(test_list)

False

In [78]:
all(['Naveen', True, 1, 'Adarsh Mallick', {'Python': 3}, [12, 34]])

True

In [80]:
def test_fun(iterable):
    if all(iterable):
        print("all the values inside this iterable are True")
    else:
        print("not all the values are True inside this iterable")
        
t = ['Naveen', True, 1, 'Adarsh Mallick', {'Python': 3}, [12, 34],0]
test_fun(t)

not all the values are True inside this iterable

In [83]:
any([False,[],{},"",0])

False

In [87]:
def test_fun(iterable):
    if any(iterable):
        print("atleast one of  the values inside this iterable are True")
    else:
        print("none of values are True inside this iterable")
t =[False,[],{},"",0,1,34,45] 

test_fun(t)

atleast one of  the values inside this iterable are True

In [88]:
bin(5)

'0b101'

In [89]:
type(bin(4))

str

In [90]:
bin(5)[2:]

'101'

In [92]:
## Q3 Count the number of ones in binary numbers from 1 to 10.

for i in range(1,11):
    binary_of_i = bin(i)
    print(i,"==>",binary_of_i[2:],"-->",binary_of_i.count("1"))

1 ==> 1 --> 1
2 ==> 10 --> 1
3 ==> 11 --> 2
4 ==> 100 --> 1
5 ==> 101 --> 2
6 ==> 110 --> 2
7 ==> 111 --> 3
8 ==> 1000 --> 1
9 ==> 1001 --> 2
10 ==> 1010 --> 2

In [93]:
## lambda functions

In [94]:
# small one liner function, often used without a name

# synatx
lambda arguments: expression

In [95]:
# with name

#normal fun
# def x(a):
#     return a*2

# converted to a lambda fun like this...
x = lambda a:a*2

x(4)

8

In [96]:
# without a name
(lambda a:a*2)(4)

8

In [97]:
# inside other functions

def make_upper(test_value):
    return test_value.upper()

# lambda test_value:test_value.upper()
x = ["python","java","django"]

y = []
for i in x:
    y.append(make_upper(i))
    
print(y)

['PYTHON', 'JAVA', 'DJANGO']

In [99]:
list(map(make_upper,x))

['PYTHON', 'JAVA', 'DJANGO']

In [101]:
# one liner for the whole above
list(map(lambda test_value:test_value.upper(),x))

['PYTHON', 'JAVA', 'DJANGO']

In [106]:
x = ["python","java","django"]

# def special(test_value):
#     if "o" in test_value:
#         return True
#     else:
#         return False

def special(test_value):
    return "o" in test_value

# lambda test_value:"o" in test_value
    

for value in x:
    print(special(value))

True
False
True

In [104]:
"K" in "python"

False

In [107]:
list(filter(lambda test_value:"o" in test_value,["python","java","django"]))

['python', 'django']

In [108]:
## Quiz: list compreh,map,filter,lambda ?

In [109]:
# Note: lambda fun can take any no. of arguments, but can have only one expression

In [110]:
def fun2(val1,val2):
    return val1+val2

x = lambda val1,val2:val1+val2

x(1,2)

3

In [111]:
## lambda into key functions

# sort,sorted,min,max?

ids = ["id1","id10","id2","id30","id22","id100"]

print(sorted(ids))

['id1', 'id10', 'id100', 'id2', 'id22', 'id30']

In [113]:
print(sorted(ids,key=lambda x: int(x[2:])))

['id1', 'id2', 'id10', 'id22', 'id30', 'id100']

In [114]:
# homework: quiz 6,7

In [115]:
#Q4 Make use of map and lambda to get output like [111,222,333,444,555]

# l1 = [1,2,3,4,5]
# l2 = [10,20,30,40,50]
# l3 = [100,200,300,400,500]

In [116]:
#Q5 Sort items in a dict corresponding to values and store the tuples in lists.
## Hint: Use .items() to get the tuples you want to use.

# d = {20:50,10:40,30:30,40:20,50:10}

In [ ]:
# tomorrow topics: generator,iterator,itertools